# Key files
*.pem
!test-clients/src/main/resource/genesis.pem
!test-clients/yahcli/localhost/keys/*.pem
!hapi-utils/src/test/resources/vectors/genesis.pem
!hedera-node/data/onboard/devGenesisKeypair.pem
*.pass
!test-clients/yahcli/localhost/keys/*.pass
*.words
*.hexed

# Yahcli
test-clients/yahcli/assets/yahcli.jar
test-clients/yahcli/localhost/sysfiles
test-clients/yahcli/localhost/accounts
test-clients/yahcli/localhost/tokens
test-clients/yahcli/localhost/topics
test-clients/yahcli/cost-snapshots
test-clients/yahcli/run/test/local/

# VIM
*.sw*

# Docker Compose runtime
compose-network/

# IDEA files
.idea
*.iml
.settings

# Logs/crash data
logs/
test-clients/devops-utils/validation-scenarios/logs/
test-clients/cost-snapshots
*.log
hs_err_pid*

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

.circleci/*.yml-excerpt
hapi-proto/target/
hapi-proto/src/main/proto/doc/index.html

# Maven
target

# Gradle
.gradle
build

# Mac system
.DS_Store

# SonarQube
.scannerwork

.project
